.statistics {
  width: 300px;
  border-radius: 5px;
  background-color: #ffffff;
}

.title {
  text-align: center;
  padding-top: 20px;
  text-transform: uppercase;
  color: #535252;
}

.statList {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}
.statList > li {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.label,
.percentage {
  padding: 5px;
  color: #3d3d3d;
}

.percentage {
  font-size: 20px;
}
